web/* linguist-generated
ios/* linguist-generated
android/* linguist-generated
linux/* linguist-generated
macos/* linguist-generated
windows/* linguist-generated
test/* linguist-generated
*/CMakeLists.txt linguist-generated
*.cmake linguist-generated
